<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.imyeyu.blogapi.mapper.ArticleMapper">
	<!-- 简单获取 -->
	<select id="findSimple" resultMap="findResult" parameterType="long">
		SELECT
			id,
			type,
			title
		FROM
			article
		WHERE
			id = #{id}
			AND deleted_at IS NULL
		LIMIT 1
	</select>
	<!-- 根据分类获取部分 -->
	<select id="findManyByClass" resultMap="findManyResult">
		SELECT
			a.id,
			a.type,
			a.title,
			a.digest,
			a.likes,
			a.reads,
			a.created_at,
			a.updated_at
		FROM
			article AS a
		WHERE
			1 &lt; a.id
			AND a.class_id = #{cid}
			AND a.deleted_at IS NULL
		ORDER BY
			COALESCE(a.updated_at, a.created_at) DESC
		LIMIT
			#{offset}, #{limit}
	</select>
	<!-- 统计该文章的所有评论和子评论 -->
	<select id="getCommentsLength" parameterType="long" resultType="int">
		SELECT
			SUM(r.cc + r.crc)
		FROM (
			SELECT
				COUNT(DISTINCT c.id) AS cc,
				COUNT(cr.comment_id) AS crc
			FROM
				comments AS c
			LEFT JOIN
				comment_replies AS cr
			ON
				cr.comment_id = c.id
			WHERE
				c.article_id = #{aid}
				AND c.deleted_at IS NULL
				AND cr.deleted_at IS NULL
		) AS r
	</select>
	<!-- 获取 -->
	<select id="find" resultMap="findResult" parameterType="long">
		SELECT
			a.*,
			c.id AS c_id,
			c.name AS c_name
		FROM
			article_class AS c
		LEFT JOIN
			article AS a
		ON
			a.class_id = c.id
		WHERE
			a.id = #{id}
			AND a.deleted_at IS NULL
			AND c.deleted_at IS NULL
		LIMIT 1
	</select>
	<resultMap id="findResult" type="net.imyeyu.blogapi.entity.Article">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="type" column="type" />
		<result property="digest" column="digest" />
		<result property="data" column="data" />
		<result property="extendData" column="extend_data" typeHandler="net.imyeyu.blogapi.handler.JsonHandler" />
		<result property="reads" column="reads" />
		<result property="likes" column="likes" />
		<result property="canComment" column="can_comment" />
		<result property="canRanking" column="can_ranking" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<result property="deletedAt" column="deleted_at" />
		<!-- 关联分类 -->
		<association property="clazz" javaType="net.imyeyu.blogapi.entity.ArticleClass">
			<id property="id" column="c_id"/>
			<result property="name" column="c_name"/>
		</association>
	</resultMap>
	<!-- 获取部分 -->
	<select id="findMany" resultMap="findManyResult">
		SELECT
			a.id,
			a.type,
			a.title,
			a.digest,
			a.likes,
			a.reads,
			a.created_at,
			a.updated_at
		FROM
			article AS a
		WHERE
			1 &lt; a.id
			AND a.deleted_at IS NULL
		ORDER BY
			COALESCE(a.updated_at, a.created_at) DESC
		LIMIT
			#{offset}, #{limit}
	</select>
	<resultMap id="findManyResult" type="net.imyeyu.blogapi.entity.Article" />
	<!-- 更新 -->
	<update id="update" parameterType="net.imyeyu.blogapi.entity.Article">
		<if test="id != null">
			UPDATE `article`
			<set>
				`reads`       = #{reads},
				`likes`       = #{likes}
			</set>
			WHERE `id` = #{id}
		</if>
	</update>
</mapper>