<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.imyeyu.blogapi.mapper.SettingMapper">
	<!-- 根据键获取 -->
	<select id="findByKey" resultType="net.imyeyu.blogapi.entity.Setting" parameterType="String">
		SELECT * FROM `setting` WHERE `key` = #{key} AND `deleted_at` IS NULL
	</select>
	<!-- 获取所有 -->
	<select id="findAll" resultType="net.imyeyu.blogapi.entity.Setting">
		SELECT * FROM `setting` WHERE `deleted_at` IS NULL
	</select>
</mapper>