<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.imyeyu.blogapi.mapper.UserMapper">
	<!-- 新增 -->
	<insert id="create" parameterType="net.imyeyu.blogapi.entity.User" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO `users` (
			`email`,
			`name`,
			`password`,
			`created_at`
		) VALUES (
			#{email},
			#{name},
			#{password},
			#{createdAt}
		);
	</insert>
	<!-- 根据 ID 获取 -->
	<select id="find" resultType="net.imyeyu.blogapi.entity.User" parameterType="long">
		SELECT * FROM `users` WHERE `id` = #{id} AND `deleted_at` IS NULL LIMIT 1
	</select>
	<!-- 根据用户名获取 -->
	<select id="findByName" resultType="net.imyeyu.blogapi.entity.User" parameterType="String">
		SELECT * FROM `users` WHERE `name` = #{name} AND `deleted_at` IS NULL LIMIT 1
	</select>
	<!-- 根据邮箱获取 -->
	<select id="findByEmail" resultType="net.imyeyu.blogapi.entity.User" parameterType="String">
		SELECT * FROM `users` WHERE `email` = #{email} AND `deleted_at` IS NULL LIMIT 1
	</select>
	<!-- 更新 -->
	<update id="update" parameterType="net.imyeyu.blogapi.entity.User">
		<if test="id != null">
			UPDATE `users`
			<set>
				`email`      = #{email},
				`name`       = #{name},
				`updated_at` = #{updatedAt}
			</set>
			WHERE `id` = #{id}
		</if>
	</update>
	<!-- 删除 -->
	<update id="delete">
		<if test="id != null">
			UPDATE `users`
			<set>
				`deleted_at` = FLOOR(UNIX_TIMESTAMP(NOW(3))*1000)
			</set>
			WHERE `id` = #{id}
		</if>
	</update>
</mapper>