<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.imyeyu.blogapi.mapper.UserDataMapper">
	<!-- 新增 -->
	<insert id="create" parameterType="net.imyeyu.blogapi.entity.UserData" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO user_data (user_id) VALUES (#{userId})
	</insert>
	<!-- 获取 -->
	<select id="findByUID" resultType="net.imyeyu.blogapi.entity.UserData" parameterType="long">
		SELECT * FROM user_data WHERE user_id = #{uid} LIMIT 1
	</select>
	<!-- 更新 -->
	<update id="update" parameterType="net.imyeyu.blogapi.entity.UserData">
		<if test="id != null">
			UPDATE user_data
			<set>
				user_id      = #{userId},
				has_wrapper  = #{hasWrapper},
				has_avatar   = #{hasAvatar},
				exp          = #{exp},
				sex          = #{sex},
				birth        = #{birth},
				qq           = #{qq},
				sign         = #{sign},
				signed_in_ip = #{signedInIp},
				signed_in_at = #{signedInAt},
				updated_at   = #{updatedAt}
			</set>
			WHERE id = #{id}
		</if>
	</update>
	<!-- 更新（不包含系统操作字段） -->
	<update id="updateData" parameterType="net.imyeyu.blogapi.entity.UserData">
		<if test="id != null">
			UPDATE user_data
			<set>
				sex        = #{sex},
				birth      = #{birth},
				qq         = #{qq},
				sign       = #{sign},
				updated_at = #{updatedAt}
			</set>
			WHERE user_id = #{userId}
		</if>
	</update>
</mapper>