<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.imyeyu.blogapi.mapper.UserDataMapper">
	<!-- 新增 -->
	<insert id="create" parameterType="net.imyeyu.blogapi.entity.UserData" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO `user_data` (`user_id`) VALUES (#{userId});
	</insert>
	<!-- 获取 -->
	<select id="find" resultMap="findResult" parameterType="long">
		SELECT * FROM `user_data` WHERE `id` = #{id}
	</select>
	<resultMap id="findResult" type="net.imyeyu.blogapi.entity.UserData">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="hasWrapper" column="has_wrapper" />
		<result property="hasAvatar" column="has_avatar" />
		<result property="exp" column="exp" />
		<result property="sex" column="sex" />
		<result property="bitrh" column="birth" />
		<result property="qq" column="qq" />
		<result property="sign" column="sign" />
		<result property="signedInIp" column="signed_in_ip" />
		<result property="signedInAt" column="signed_in_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>
	<!-- 更新 -->
	<update id="update" parameterType="net.imyeyu.blogapi.entity.UserData">
		<if test="id != null">
			UPDATE `user_data`
			<set>
				`user_id`      = #{userId},
				`wrapper`      = #{wrapper},
				`avatar`       = #{avatar},
				`exp`          = #{exp},
				`sex`          = #{sex},
				`birth`        = #{birth},
				`qq`           = #{qq},
				`sign`         = #{sign},
				`signed_in_ip` = #{signedInIp},
				`signed_in_at` = #{signedInAt},
				`updated_at`   = #{updatedAt}
			</set>
			WHERE `id` = #{id}
		</if>
	</update>
</mapper>