<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.imyeyu.blogapi.mapper.UserPrivacyMapper">
	<!-- 新增 -->
	<insert id="create" parameterType="net.imyeyu.blogapi.entity.UserPrivacy" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO `user_privacy` (`user_id`) VALUES (#{userId})
	</insert>
	<!-- 获取 -->
	<select id="findByUID" resultType="net.imyeyu.blogapi.entity.UserPrivacy" parameterType="long">
		SELECT * FROM `user_privacy` WHERE `user_id` = #{uid} LIMIT 1
	</select>
	<!-- 更新 -->
	<update id="update" parameterType="net.imyeyu.blogapi.entity.UserPrivacy">
		<if test="id != null">
			UPDATE `user_privacy`
			<set>
				`email`        = #{email},
				`sex`          = #{sex},
				`birth`        = #{birth},
				`qq`           = #{qq},
				`comment`      = #{comment},
				`signed_in_at` = #{signedInAt},
				`created_at`   = #{createdAt},
				`updated_at`   = #{updatedAt}
			</set>
			WHERE `user_id` = #{userId}
		</if>
	</update>
</mapper>