<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.imyeyu.blog.mapper.VersionMapper">
	<!-- 根据程序名获取最新版本信息 -->
	<select id="findByName" resultType="net.imyeyu.blog.entity.Version" parameterType="String">
		SELECT * FROM `versions` WHERE `name` = #{name}
	</select>
</mapper>